@import url('https://fonts.googleapis.com/css?family=Dosis|Julius+Sans+One|Lobster');

body {
    font-family: 'Dosis', sans-serif;
    padding: 0;
    background: rgb(63, 63, 63);
    color: white;

}

header {
    text-align: center
}

h1 {
    font-family: 'Lobster',cursive;
    font-size: 220px;
    z-index: 1000;
    margin-top: 120px;
    margin-bottom: 0;

}
p {
    font-size: 20px;
    margin: 0;
}

.btninicio {
    margin-top: 80px;
    font-family: inherit;
    font-size: 30px;
    border: 1px;
    border-radius: 5px;
    border-style: solid;
    border-color: white;
    padding: 8px;
    background: none;
    color:white;    

}

.btninicio:hover {
    background: rgb(94, 94, 94);

}

input[type=text] {
    border: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 5px;
    background: none;
    font-size: 20px;

}

.endereco{
    display: none;

}

.icone{
    margin: 30px;
    width: 70px;
    height: 70px;
    grid-row-start: 1;
    grid-row-end: 1;

}

ul{
    overflow: hidden;
    text-decoration: none
    display inline;

}

li, a{
    text-decoration: none;
    color: inherit;
    display: inline-block;
       
}

.stream1{
    width: 80%;
    display: inline-block;

}

