@media only screen and (max-width: 1200px) {
    body{
        margin-right: auto;
        margin-left: auto;
        padding: 0;
        margin-top: 0;
        margin-bottom: 0;
        width: 100%;

    }

    .body{
        display: block;
        background: rgb(255, 123, 0);

    }

    h1{
        font-size: 1000%;
        color: black

    }

    .titulo{
        position: relative;
        margin-top: 3%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: auto; 
        width: 50%;
        height: auto;
        background: rgb(255, 123, 0);
        box-shadow: none;
        color: black;

    }

    .stream1{
        margin: 0;
        width: 100%;
        
    }

    .imagemlogo{
        display: none;

    }

    .btninicio{
        color: black;
        border-color: black;
    }

    .icone{
        width: 50px;
        height: 50px;
        margin: 4px;
        padding: 0;

    }


    nav, .nav, .navdesc {
        background-image: none;
        background-size: 0;
        background: rgb(255, 123, 0); 
        height: 70px;
        width: 100%;
        position: fixed;
        border: none;
        padding: 0;
        margin-bottom: 10px;
        box-shadow: 0 0 6px rgb(80, 80, 80)

    } 

    .navdescdireita{
        float: right;

    }

    #navmobdireita{
        float: right;
    }

    .blank{
        height: 70px;
        display: block;

    }

    .navdireita, .navesquerda{
        display: none;

    }

    .navmob{
        display: block;

    }


    .divmob{
        display: block;
        height: auto;

    }

    .densidade{
        display: none;

    }

    .btninicio:hover {
        background: black;
        color: white;
    }

    .unitario{
        text-align: center;
        width: 40%;
        margin: 1%;
        box-shadow: none;

    }

    .titulouni {
        font-size: 200%;
    }

    .articledesc{
        text-align: center;
        width: 100%;
        margin: 0;
        padding: 0;
        height: auto;

    }

    .articledescesquerda{
        width: 100%;
        float: none;
        margin: 0;
        padding: 0;
        height: auto;
        margin-bottom: 50px;

    }

    .articledescdireita{
        display: none;
    }

    .divimgdesc{
        box-shadow: none;
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .produtos{
        background: none;
        padding: 0;
        margin: 0;

    }

    .descprodutotitulo{
        box-shadow: none;
        border-top: 20px;
        color: black;
        box-shadow: none;
    }

    .descproduto{
        text-align: center;
        margin: 2   %;
        padding: 0;
        
    }

    .descprodutotitulo{
        width: 100%;
        margin: auto;

    }
}


@media only screen and (max-width: 684px) {
    h1{
        font-size: 900%;
        color: black;

    }

    .menunavmobicone{
        border-radius: 50%;
        float: right;
        z-index: 99 !important; 
        width: 70px;
        height: 70px;
        margin-top: 5px;
        margin: 10px;
        padding: 0;

      }
    
    .menunavmobicone:hover{
        background: white;
        width: 70px;
        height: 70px;
    }

      .menunavmob {
          float: right;
          width: 80%;
          background: black;

      }

    .titulo{
        width: 100%;
        height: auto;
        color: black;
        box-shadow: none;

    }

    .imagemlogo{
        display: none;

    }

    .btninicio{
        color: black;
        border-color: black;

    }

    nav{   
        background-image: none;
        height: 70px;
        position: fixed;

    }

    .blank{
        display: block;

    }

    .entrar{
        border: none;
        margin: 0;
        box-shadow: 0 0 0;
        border-radius: 0;
        width: 100%;
        height: 100%;

    } 

    ul {
        display: none;

    }
    .unitario{
        border: 0;
        border-bottom: 2px;
        border-color: rgb(255, 123, 0);
        border-style: solid;
        box-shadow: none;
        font-size: 4vw;
        padding: 2%;
        width: 100%;
        margin: auto;
        margin-bottom: 15px;

    }

    .imguni{
        margin: 0;
        padding: 0;

    }

    .titulouni{
        font-size: 120%;

    }

    .descprodutoimg{
        width: 150px;
        height: 120px;

    }

    .descprodutodiv{
        box-shadow: none;
    }

    .descprodutodesc{
        width: 100%;
        
    }

    .descprodutotitulo{
        border-radius: 0;
        width: 100%;
        margin: 0;

    }
}