@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Lobster|Dosis|Bree+Serif|Roboto+Slab');

body{
    font-family: 'Fjalla One', sans-serif;
    margin: auto;
    overflow-x: hidden;
    width: 100%;
    border: 0;
    padding: 0;
    color: black;
    background: rgb(44, 44, 44);
    user-select: none;
    -moz-user-select: none; 
}

.principal{
    overflow: none;

}

.titulo{
    text-align: center;
    color: black;
    margin: 4%;
    width: 30%;
    height: 500px;
    background: #fbff2c;
    z-index: 1;
    position: absolute;
    box-shadow:  0 0 30px black;
    box-shadow: 0 0 1000px;

}

.imagemlogo{
    margin: 2%;
    margin-bottom: 0;
    flex-grow: 10;
    width: 68%;
    height: auto;
    z-index: -1;
    float: right;
    box-shadow:  0 0 30px black;

}

h1{
    padding: 0;
    color: black;
    font-family: 'Lobster', cursive;
    font-size: 1200%;
    margin: 0;
    user-select: none;
    -moz-user-select: none;

}

nav{
    background: rgb(255, 255, 255);
    font-family: 'Roboto Slab', sans;
    text-align: none;
    height: 550px;
    margin: 0; 
    width: 100%;
    top: 0;
    padding-top: 0;
    text-align: none;
    box-shadow: 0 0 25px black;

}

ul{
    padding: 10px;
    display: inline;
    text-align: center;
    font-family: inherit;
    font-size: inherit;

}
    
.blank{
        display: none;
        height: 150px;
}
    
.carrinho{

}

.menunavmobicone, .menunavmob{
    display: none;
}

.navesquerda{
    background: #fbff2c;
    margin: 0;
    padding: 0;
    float: left;
    height: 100%;
    width: 30%;
    z-index: 1000;
    box-shadow: 0 0 50px black;

}

@keyframes square1{
    0%{transform: rotate(0deg)}
    100%{transform: rotate(360deg)}
    
}

@keyframes square2{
    4%{transform: rotate(0deg)}
    100%{transform: rotate(360deg)}
    
}

@keyframes square3{
    8%{transform: rotate(0deg)}
    100%{transform: rotate(360deg)}
    
}

@keyframes square4{
    16%{transform: rotate(0deg)}
    100%{transform: rotate(360deg)}
    
}


.square1, .square2, .square3, .square4 {
    border-radius: 4px;
    float: left;
    width: 70px;
    height: 70px;
    margin-top: 5px;
    margin: 13px;
    float: right;
    border: 2px;
    border-color: black;
    border-style: solid;
    padding: 0px;
    background: none;
    animation: square;
    position: absolute;

}

.square1{
    z-index: 1;
    animation: square1;
    animation-fill-mode: forwards;
    animation-duration: 5s;
    animation-iteration-count: infinite;

}

.square2{
    z-index: 2;
    animation: square2;
    animation-fill-mode: forwards;
    animation-duration: 5s;
    animation-iteration-count: infinite;

}

.square3{
    z-index: 3;
    animation: square3;
    animation-fill-mode: forwards;
    animation-duration: 5s;
    animation-iteration-count: infinite;

}

.square4{
    z-index: 4;
    animation: square4;
    animation-fill-mode: forwards;
    animation-duration: 5s;
    animation-iteration-count: infinite;

}

.navdireita{
    background-image: url(imagens/hermes-rivera-645990-unsplash.jpg);
    background-size: 100%;
    float: right;
    height: 100%;
    text-align: right;
    width: 70%;
    z-index: 3;
    
    }  

.navmob{
    margin: 0;
    padding: 0;
    display: none;
    background: none;
    float: left;

}

li, a{
    margin-top: 25px;
    margin: 5px;
    color: inherit;
    display: inline-block;
    text-decoration: none;
    font-size: 10px;    

}

.blank{
    display: none;
    height: 70px;

}

.centro{
    text-align: center;

}

.entrar{
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    padding: 15px;
    margin-top: 20px;
    margin-bottom: 30px;
    width: 70%;
    height: auto;
    border-radius: 10px;
    background: rgb(255, 255, 255);
    color: black;
    box-shadow: 0 10px 40px rgb(26, 26, 26);
    display: none;
    z-index: 1000;

}

.btnentrar, .btncadastrar{
    font-family: 'Roboto Slab', serif;
    font-size: 17px;
    width: 120px;
    text-decoration: none;
    color: inherit;
    border-style: none;
    transition-duration: 40ms;
    border: 3px;
    padding: 5px;
    background: yellow;
    box-shadow: 0 0 2px grey;

}

.btnentrar:hover, .btncadastrar:hover{
    background: black;
    box-shadow: 0 0 15px grey;
    color: white;

}

.primeiravez:hover{
    color: rgb(56, 56, 56);

}

.bemvindo{
    font-size:40px;
    color: inherit;

}

.btninicio {
    font-family: inherit;
    font-size: 30px;
    text-decoration: none;
    padding: 5px;
    border: 2px;
    border-style: solid;    
    border-radius: 5px;
    color:black;
    border-color: black;
    background: rgba(255, 0, 0, 0);
    transition-duration: 40ms;
    cursor: inherit;
    margin:10px;

}

.btninicio:hover{
    background: black;
    box-shadow: 0px 0px 10px black;
    color: white;
    transition-duration: 40ms;

}

.btnrest {  
    font-family: inherit;
    font-size: 30px;
    color: white;
    text-decoration: none;
    border-style: none;
    transition-duration: 40ms;
    cursor: inherit;
    padding: 15px;
    background: none;
}

.btnrest2 {  
    font-family: inherit;
    font-size: 40px;
    text-decoration: none;
    border-style: none;
    color: inherit;
    transition-duration: 40ms;
    cursor: inherit;
    padding: 15px;
    background: none;

}

input[type=text], input[type=password]{
    margin: 10px;
    font-family: inherit;
    font-size: 20px;
    text-decoration: none;
    padding: 5px;
    border: 2px;
    border-style: solid;
    border-radius: 5px;
    border-color: rgb(0, 0, 0);
    background: rgb(247, 247, 247);
    transition-duration: 40ms;

}

.cadastro {
    display: none;
    z-index: 99 !important;
}

.select-customizado, .densidade {
    background: none;
    border: 2px;
    border-style: solid;
    border-radius: 5px;
    padding: 5px;
    border-color: black;
    font-family: 'Dosis', sans-serif;
    
}

.select-customizado:hover, .densidade:hover {  
    border-color: rgb(48, 48, 48);

}

.select-customizado select{
    display: none;

}

.endereco{
    background: rgb(231, 231, 231);
    border-radius: 5px;
    box-shadow: 0px 4px 4px black;
    margin: auto;
    padding: 30px;
    display: none;
    height: 280px;
    width: 500px;
 
}

.filtro{
    color:black;
    text-decoration: none;
    font-family: 'Roboto Slab', serif;
    width: auto;
    border-radius: 10px;  
    text-align: center;
    display: block;

}

h2{
    font-family: 'Roboto Slab', serif;

}

.stream1{
    padding-top: 30px;
    padding-bottom: 0;
    padding-right: 0;
    padding-left: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    text-align: center;

}

.unitario {
    text-align: none;
    display: inline-block;
    margin: 3%;
    color: black;
    background: rgb(255, 255, 255);
    padding: 10px;
    width: 20%;
    height: auto;  
    box-shadow: 0px 20px 50px black;
    
}   

.titulouni{
    font-family: 'Bree Serif', serif;
    font-size: 30px;

}

.uniflex{
    display: flex;
    flex-wrap: nowrap

}

.imguni{
    width: inherit;
    height: auto;
    display: block;
    margin: 5%;

}

.iconeuni{
    width: 20%;
    height: auto;

}

.puni{
    font-size: 2vh;

}

.iconecancelar{
    float: left;
    height: 30px;
    width: 30px;
    margin: 10px;
    border-radius: 50%;


}

.iconecancelar:hover{
    background: red; 

}

.icone{
    border-radius: 2px;
    float: left;
    width: 70px;
    height: 70px;
    margin-top: 5px;
    margin: 10px;
    padding: 0;

}

.icone:hover{
    box-shadow: 0 0 3px black;
    color: black;
    box-shadow: 0 0 25px black;
    border: 2px;

}

.saibamais {
    font-family: 'Roboto Slab', serif;
    font-size: 17px;
    width: 120px;
    text-decoration: none;
    color: inherit;
    border-style: none;
    transition-duration: 40ms;
    border: 3px;
    padding: 5px;
    background: #fbff2c;
    box-shadow: 0px 0px 1px black;

}

.saibamais:hover, .btnrest:hover{
    background: black;
    box-shadow: 0px 0px 20px black;
    color: white;

}

.navdesc{
    background: #fbff2c;
    height: 100px;
    border: 0;
    padding: 0;
    box-shadow: 0 0 25px black;
    position: fixed;

}

.articledesc{
    width: 100%;
    height: auto;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    padding: 10px;

}

.articledescdireita{
    float:right;
    width: 70%;
    height: auto;   

}

.articledescesquerda{
    float: left;
    width: 30%;
    height: auto;

}

.pardesc{
    width: 90%;
    background: white;
    box-shadow: 0 0 15px grey;
    
}

.divimgdesc{

}

.imgdesc{
    width: 25%;
    height: auto;

}

    