@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Lobster|Dosis|Bree+Serif|Roboto+Slab');

body{
    font-family: 'Fjalla One', sans-serif;
    margin: auto;
    border: 0;
    padding: 0;
    color: black;
    background: rgb(238, 238, 238);
    user-select: none;
    -moz-user-select: none; 
    
}
.principal{
    overflow: none;

}

.titulo{
    text-align: center;
    color: rgb(218, 224, 236);
    margin: 4%;
    width: 30%;
    height: 500px;
    background: rgb(0, 31, 51);
    z-index: 1;
    position: absolute;
    box-shadow: 0px 20px 50px black;

}

.imagemlogo{
    margin: 2%;
    margin-bottom: 0;
    flex-grow: 10;
    width: 68%;
    height: auto;
    z-index: -1;
    float: right;
    box-shadow: 0px 20px 50px grey;

}

h1{
    padding: 0;
    color: rgb(255, 255, 255);
    font-family: 'Lobster', cursive;
    font-size: 1200%;
    margin: 0;
    user-select: none;
    -moz-user-select: none;

}

nav{
    background: rgb(255, 255, 255);
    font-family: 'Roboto Slab', sans;
    text-align: none;
    height: 550px;
    margin: 0; 
    width: 100%;
    top: 0;
    padding-top: 0;
    color: white;
    text-align: none;
    box-shadow: 0 0 25px grey;

}

ul{
    padding: 10px;
    display: inline;
    text-align: center;
    font-family: inherit;
    font-size: inherit;
    color: inherit;

}
    
.blank{
        display: none;
        height: 120px;
    }
    
.carrinho{

}

    .navesquerda{
        background: rgb(0, 31, 51);
        margin: 0;
        padding: 0;
        float: left;
        height: 100%;
        width: 30%;
        z-index: 1000;
        box-shadow: 0 0 50px grey;

    }

    .navdireita{
        background-image: url(imagens/brooke-lark-500141-unsplash.jpg);
        background-size: 100%;
        float: right;
        height: 100%;
        text-align: right;
        width: 70%;
        z-index: 9;
    
    }  

    .divmob{
        background: white;
        margin: 0;
        padding: 0;
    }
li, a{
    margin-top: 25px;
    margin: 5px;
    display: inline-block;
    text-decoration: none;
    color: inherit;
    font-size: 10px;    

}

.blank{
    display: none;
    height: 70px;

}

.centro{
    text-align: center;

}

.entrar{
    text-align: center;
    margin: auto;
    padding: 15px;
    margin-top: 20px;
    width: 600px;
    height: auto;
    border-radius: 4px;
    background: rgb(255, 255, 255);
    color: black;
    box-shadow: 0 2px 3px black;
    display: none;

}

.primeiravez:hover{
    color: rgb(56, 56, 56);

}

.bemvindo{
    font-size:80px;
    color: inherit;

}

.btninicio {
    font-family: inherit;
    font-size: 30px;
    text-decoration: none;
    padding: 5px;
    border: 2px;
    border-style: solid;    
    border-radius: 5px;
    color:white;
    border-color: white;
    background: rgba(255, 0, 0, 0);
    transition-duration: 40ms;
    cursor: inherit;
    margin:10px;

}

.btninicio:hover{
    background: white;
    box-shadow: 0px 2px 3px black;
    color: black;
    border: 2px;

}

.btnrest {  
    font-family: inherit;
    font-size: 30px;
    color: black;
    text-decoration: none;
    border-style: none;
    border-color: white;
    transition-duration: 40ms;
    cursor: inherit;
    padding: 15px;
    background: none;

}

.btnrest2 {  
    font-family: inherit;
    font-size: 40px;
    text-decoration: none;
    border-style: none;
    border-color: white;
    color: inherit;
    transition-duration: 40ms;
    cursor: inherit;
    padding: 15px;
    background: none;

}

input[type=text], input[type=password]{
    margin: 10px;
    font-family: inherit;
    font-size: 20px;
    text-decoration: none;
    padding: 5px;
    border: 2px;
    border-style: solid;
    border-radius: 5px;
    border-color: rgb(0, 0, 0);
    background: rgb(247, 247, 247);
    transition-duration: 40ms;

}

.select-customizado, .densidade {
    background: rgb(255, 255, 255);
    border: 2px;
    border-style: solid;
    border-radius: 5px;
    padding: 5px;
    border-color: black;
    font-family: 'Dosis', sans-serif;
    
}

.select-customizado:hover, .densidade:hover {  
    box-shadow: 0px 0px 3px black;
    color: black;

}

.select-customizado select{
    display: none;

}

.endereco{
    background: rgb(231, 231, 231);
    border-radius: 5px;
    box-shadow: 0px 4px 4px black;
    margin: auto;
    padding: 30px;
    display: none;
    height: 280px;
    width: 500px;
 
}

.filtro{
    color:white;
    text-decoration: none;
    font-family: 'Roboto Slab', serif;
    width: auto;
    border-radius: 10px;  
    text-align: center;
    display: block;

}


h2{
    font-family: 'Roboto Slab', serif;

}

.stream1{
    padding-top: 30px;
    padding-bottom: 0;
    padding-right: 0;
    padding-left: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    text-align: center;

}

.unitario {
    text-align: none;
    display: inline-block;
    margin: 2%;
    color: black;
    background: rgb(255, 255, 255);
    padding: 10px;
    width: 50%;
    height: auto;  
    box-shadow: 0px 20px 50px grey;
    
}   

.titulouni{
    font-family: 'Bree Serif', serif;
    font-size: 30px;

}

.uniflex{
    display: flex;
    flex-wrap: nowrap

}

.imguni{
    width: inherit;
    height: auto;
    display: block;
    margin: 5%;

}

.iconeuni{
    width: 20%;
    height: auto;

}

.puni{
    font-size: 2vh;

}

.icone{
    float: left;
    border-radius: 5px;
    width: 70px;
    height: 70px;
    margin-top: 5px;
    margin: 10px;
    padding: 0;

}

.icone:hover{
    box-shadow: 0 0 3px black;
    color: black;
    box-shadow: 0 0 15px turquoise;
    border: 2px;

}

.saibamais {
    font-size: 12px;
    width: 120px;
    text-decoration: none;
    color: inherit;
    border-style: none;
    transition-duration: 40ms;
    padding: 5px;
    background: rgb(97, 217, 253);
    box-shadow: 0px 0px 1px black;

}

.saibamais:hover, .btnrest:hover{
    background: rgb(186, 235, 250);
    box-shadow: 0px 0px 20px grey;
    color: black;

}

.navdesc{
    background: white;
    height: 100px;
    border: 0;
    padding: 0;
    box-shadow: 0 0 25px grey;

}

.articledesc{
    width: 100%;
    height: auto;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    padding: 10px;

}

.articledescdireita{
    width: 40%;
    height: auto;   

}

.articledescesquerda{
    width: 60%;
    height: auto;

}

.pardesc{
    width: 90%;
    background: white;
    box-shadow: 0 0 15px grey;
    
}