@import url('https://fonts.Openapis.com/css?family=Fjalla+One|Lobster|Dosis|Bree+Serif|Roboto+Slab|Roboto|Open+Sans|Lato');

body{
    position: absolute;
    font-family: 'Fjalla One', sans-serif;
    margin: auto;
    overflow-x: hidden;
    width: 100%;
    border: 0;
    padding: 0;
    color: black;
    background: #F5F5F5;
    user-select: none;
    -moz-user-select: none; 
}

footer{
    height: 10px;
    width: 100%;
}

.principal{
    overflow: none;

}

.titulo{
    text-align: center;
    color: black;
    margin: 4%;
    width: 30%;
    height: 500px;
    background: rgb(255, 123, 0);
    z-index: 1;
    position: absolute;
    box-shadow:  0 2px 5px rgb(78, 78, 78);

}

.imagemlogo{
    margin: 2%;
    margin-bottom: 0;
    flex-grow: 10;
    width: 68%;
    height: auto;
    z-index: -1;
    float: right;
    box-shadow:  0 3px 60px rgb(78, 78, 78);

}

h1{
    padding: 0;
    color: black;
    font-family: 'Lobster', cursive;
    font-size: 1200%;
    margin: 0;
    user-select: none;
    -moz-user-select: none;

}

nav{
    background: rgb(255, 255, 255);
    font-family: 'Roboto Slab', sans;
    text-align: none;
    height: 550px;
    margin: 0; 
    width: 100%;
    top: 0;
    padding-top: 0;
    text-align: none;
    box-shadow: 0 0 6px rgb(78, 78, 78);

}

ul{
    padding: 10px;
    display: inline;
    text-align: center;
    font-family: inherit;
    font-size: inherit;

}
    
.blank{
        display: none;
}

.blankdesc{
    height: 80px;

}
    
.carrinho{

}

.menunavmobicone, .menunavmob, .navmobesquerda, .navmobdireita{
    display: none;

}

.navesquerda{
    background: rgb(255, 123, 0);
    margin: 0;
    padding: 0;
    float: left;
    height: 100%;
    width: 30%;
    z-index: 1000;

}

.navdireita{
    color: white;
    background-image: url(imagens/hermes-rivera-645990-unsplash.jpg);
    background-size: 100%;
    float: right;
    height: 100%;
    text-align: right;
    width: 70%;
    z-index: 3;
    
    }  

.navmob{
    margin: 0;
    padding: 0;
    display: none;
    background: none;
    float: left;

}

li, a{
    margin-top: 25px;
    margin: 5px;
    color: inherit;
    display: inline-block;
    text-decoration: none;
    font-size: 10px;    

}

.blank{
    display: none;
    height: 70px;

}

.centro{
    text-align: center;

}

.entrar{
    display: none;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    padding: 15px;
    margin-top: 20px;
    margin-bottom: 30px;
    width: 70%;
    height: auto;
    border-radius: 10px;
    background: rgb(255, 255, 255);
    color: black;
    box-shadow: 0 0 10px rgb(48, 48, 48);
    display: none;
    z-index: 1000;

}

.entrarrest{
    display: block;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    padding: 15px;
    margin-top: 20px;
    margin-bottom: 30px;
    width: 50%;
    height: auto;
    border-radius: 10px;
    background: rgb(255, 255, 255);
    color: black;
    box-shadow: 0 0 50px rgb(78, 78, 78));
    display: none;
    z-index: 1000;

}


.btnentrar:hover, .btncadastrar:hover{
    background: black;
    box-shadow: 0 0 15px rgb(78, 78, 78);
    color: white;

}

.primeiravez:hover{
    color: rgb(56, 56, 56);

}

.bemvindo{
    font-size:40px;
    color: inherit;

}

.btninicio {
    font-family: inherit;
    font-size: 30px;
    text-decoration: none;
    padding: 5px;
    border: 2px;
    border-style: solid;    
    border-radius: 5px;
    color:black;
    border-color: black;
    background: rgba(255, 0, 0, 0);
    transition-duration: 40ms;
    cursor: inherit;
    margin:10px;

}

.btninicio:hover{
    background: black;
    box-shadow: 0px 0px 10px black;
    color: white;
    transition-duration: 40ms;

}

.btnrest {  
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    color: inherit;
    text-decoration: none;
    border-style: none;
    transition-duration: 40ms;
    cursor: inherit;
    padding: 15px;
    background: none;
    
}

.btnrest2 {  
    color: rgb(78, 78, 78);
    font-family: 'Roboto', sans-serif;
    font-size: 20px;    
    text-decoration: none;
    border-style: none;
    color: inherit;
    transition-duration: 40ms;
    cursor: inherit;
    padding: 15px;
    background: none;

}

input[type=text], input[type=password]{
    margin: 10px;
    font-family: inherit;
    font-size: 20px;
    text-decoration: none;
    padding: 5px;
    border: 2px;
    border-style: solid;
    border-radius: 5px;
    border-color: rgb(0, 0, 0);
    background: rgb(247, 247, 247);
    transition-duration: 40ms;

}

.cadastro {
    display: none;
    z-index: 99 !important;
}

.select-customizado, .densidade {
    background: none;
    border: 2px;
    width: 150px;
    border-style: solid;
    border-radius: 5px;
    padding: 5px;
    border-color: black;
    font-family: 'Open Sans', sans-serif;
    
}

.select-customizado:hover, .densidade:hover {  
    border-color: rgb(48, 48, 48);

}

.select-customizado select{
    display: none;

}

.endereco{
    background: rgb(231, 231, 231);
    border-radius: 5px;
    box-shadow: 0px 4px 4px black;
    margin: auto;
    padding: 30px;
    display: none;
    height: 280px;
    width: 500px;
 
}

.filtro{
    color:black;
    text-decoration: none;
    font-family: 'Roboto Slab', serif;
    width: auto;
    border-radius: 10px;  
    text-align: center;
    display: block;

}

h2{
    font-family: 'Roboto Slab', serif;

}

.nomefiltro{
    font-family: 'Lato', sans-serif;
}

.busca{ 
    display: none;
    width: 100%;
    margin: 0;
    height: 50px;
    background: black;

}

.txtbusca{
    background: none;
    border: none;
    
}

.barrapesquisa{

}

.barrapesquisaicone{

}

.stream1{
    padding-top: 15px;
    padding-bottom: 0;
    padding-right: 0;
    padding-left: 0;
    margin: auto;
    width: 95%;
    height: 100%;
    text-align: center;

}

.unitario {
    text-align: center;
    display: inline-block;
    margin: 3%;
    color: black;
    background: rgb(255, 255, 255);
    padding: 15px;
    width: 20%;
    height: auto;  
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgb(78, 78, 78);
    
}   


.titulouni{
    font-family: 'Bree Serif', serif;
    font-size: 20px;

}

.precouni{
    color: rgb(75, 75, 75);
    
}

.imguni{
    border-radius: 5px;
    width: 96%;
    height: auto;
    display: block;
    margin: auto;

}

.iconeuni{
    width: 20%;
    height: auto;

}

.puni{
    font-size: 2vh;

}

.iconecancelar{
    float: left;
    height: 30px;
    width: 30px;
    margin: 10px;
    border-radius: 50%; 

}

.iconecancelar:hover{
    

}

.icone{ 
    border-radius: 2px;
    float: left;
    width: 60px;
    height: 60px;
    margin: 10px;

}

.iconerest{
    width: 50px;
    height: 50px;
    margin: 5px;
    padding: 0;
}

.icone:hover{
    box-shadow: 0 1px 2px rgb(39, 39, 39);
    border: 2px;

}

.saibamais, .btnentrar, .btncadastrar{
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    width: 120px;
    text-decoration: none;
    border-style: none;
    border-radius: 4px;
    transition-duration: 40ms;
    border: 3px;
    padding: 8px;
    background: rgb(255, 123, 0);
    box-shadow: 0 2px 2px rgb(78, 78, 78);

}


.btnrest2:hover{
    background: black;
    box-shadow: 0px 2px 5px rgb(48, 48, 48);
    color: white;

}

.btnrest:hover {
    box-shadow: 0px 15px 25px rgb(43, 43, 43);

}

.titulodesc {
    font-family: 'Roboto Slab', serif;
    font-size: 50px;
    color: rgb(36, 36, 36);

}

.pardesc{
    font-family: 'Open Sans', sans-serif;
    color: rgb(49, 49, 49);

}

.navdesc{
    background: rgb(255, 123, 0);
    width: 100%;
    height: 70px;
    border: 0;
    margin: 0;
    padding: 0;
    position: fixed;
    box-shadow: 0 0 10px rgb(78, 78, 78);

}

.navdescdireita{
    float: right;

}
.navdescdireita .btnrest:hover{
    box-shadow: 0px 0 15px rgb(53, 53, 53); 

}

.articledesc{
    text-align: center;
    padding: 20px;
    width: 90%;
    height: auto;
    margin: auto;

}

.precodesc{
    font-family: 'Open Sans', sans-serif;
    color: rgb(46, 46, 46);
}

.imgdesc{
    width: 25%;
    height: auto;

}

.produtos{
    margin: auto;
    height: 90%;
    text-align: center;

}

.descproduto{
    text-align: left;
    z-index: -1;
    background: white;
    padding: 5px;
    margin: 2%;
    display: inline-block;
    height: auto;
    width: 55%;
    box-shadow: 0 2px 5px rgb(78, 78, 78);

}

.descproduto:hover{
    z-index: -1;
    box-shadow: 0 4px 6px rgb(78, 78, 78);    

}

.descproduto:hover .navdesc{
    z-index: 1000 !important;
}

.descproduto:hover{
    opacity: 1;

}

.descprodutoimg{
    float: left;
    height: 160px;
    width: 200px;
    
}

.descprodutoseta:hover{
    transform: scale(1.2, 1.2) rotate(180deg);  
}

.descprodutotitulo{
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    padding: 2px;
    margin-left: 10px;
    margin: auto;

}

.descprodutodesc{

}


.addcarrinho{
    text-align: center;
    width: 46px;
    height: 46px;
    float: right;
    animation: 1s linear; 
    border-radius: 100px;
    background: rgb(255, 123, 0);
    margin-top: 89px;
    box-shadow: 0 2px 5px rgb(54, 54, 54);

}

.addcarrinho:hover, .saibamais:hover, .btnrest:hover    {
    background: rgb(255, 143, 37);
    box-shadow: 0 3px 7px rgb(54, 54, 54);

}

.addcarrinhoicone, .addcarrinhoqtd {
    width: 25px;
    height: 25px;
    padding: 2px;
    margin-top: 9px;
    margin-right: 2px;

}

.addcarrinhodireita{
    float: right;
    display: none;

}

.addcarrinhoesquerda{
    float: left;
    display: none;

}

